body{
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position: left - bottom;
  background-size:100% 100%;
}

h1{
  width: 100%;
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 80px;
  text-shadow: 1px 2px grey;
}
h2{
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 80px;
  text-shadow: 1px 2px grey;
}

table{
  font-family:sans-serif;
  border-collapse: collapse;
  width: 90%;
  text-align: center;
  margin-top: 80px;
}
th{
  font-size: 20px;
  text-align: left;
  background-color: #6BBE30;
  padding: 8px;
}
td{
  font-size: 15px;
  text-align: left;
  padding: 8px;
}
tr:nth-child(odd){
  background-color: #6BBE30;
}
tr:nth-child(even){
  background-color: #DDEAF0;
}
.container{
  padding: 5px;
  text-align: center;
  padding-top: 40px;
  text-transform: capitalize;
}

.footer{
  padding: 5px;
  position: fixed;
/*  left: 0;
  bottom: 0; */
  width: 100%;
  background-color: #DDEAF0;
  text-align: center;
  color: white;
}
